* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: rgb(227 230 243);
  --green-color: #0e9b73;
  --padding-top : 2.5rem;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: var(--main-color);
  box-shadow: 0 0 10px 5px rgb(212 212 212 / 68%);
  position: sticky;
  top: 0px;
  z-index: 400;
}

header .logo img {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  
  & .toggle-menu {
    display: none;
    font-size: 25px;
    color: #152744;

  }
  
}


header ul {
  display: flex;


  & li {
    list-style-type: none;
    margin: 0px 1rem;
    position: relative;

    & a {
      text-decoration: none;
      color: #7a7a7a;
      font-size: 17px;
      font-weight: 500;
    }
  }

  & li:hover {
    cursor: pointer;
  }

  .active a{
    color: var(--green-color);
  }
}

header nav ul .fa-xmark{
  display: none
}

header nav ul li::before,
header nav ul .active::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.5px;
  border-radius: 3px;
  background-color: var(--green-color);
  top: 100%;
  transition: 0.5s;
}

header nav ul li:hover::before,
header nav ul .active::before {
  display: block;
  width: 50%;

}

header nav  .shop-bag{
  display: none;
}
@media (max-width: 768px){
  header nav .toggle-menu {
    display: block;
  }
  header {
    padding-left: 10px;
    padding-right: 10px;
  }

  header nav {
    position: relative;
  }

  header nav ul {
    display: none;
    
  }

  header nav  .shop-bag{
    display: block;
    color: #7a7a7a;
    position: absolute;
    top: -25%;
    right: 32px;
    font-size: 24px;
  }
  header nav ul  li {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
    width: fit-content;
  }
  header nav ul  li a {
    font-size: 16px;
  }
  header nav ul li:last-child{
    display: none;
  }
  header nav .toggle-menu:hover{
    cursor: pointer;
  }
  header nav ul li::before,
  header nav ul .active::before{
    height: 1px;
  }

  header nav ul  .fa-xmark{
    display: block;
    padding-top: 26px;
    font-size: 23px;
    padding-left: 10px;
    padding-bottom: 18px;
    cursor: pointer;
    width: 37px;

  }
}

/* landing section */
.landing {
  height: 100vh;
  background-image: url(../images/hero4.png);
  background-color: var(--main-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: -10;
}

@media (max-width: 768px){
  .landing {
    height: 79vh;
    background-position: 64%;
    background-size: cover;
  }
}
.landing .content {
  position: absolute;
  left: 6%;
  top: 25%;
}


.landing .content p:first-child{
  color: #181818;
  font-size: 17px;
  padding: 7px 0;
  font-weight: 500;

}
.landing .content h1 {
  font-size: 2.5rem;
  letter-spacing: 2.7px;
  padding: 0;
}
.landing .content h1:nth-child(2) {
  color: #000000c7;
}

.landing .content h1:nth-child(3) {
  color: var(--green-color);
  margin-top: -8px;
}

.landing .content p:nth-child(4) {
  color: rgba(0, 0, 0, 0.642);
  padding: 1rem 0;
}
.landing .content .shop-btn{
  height: 11vh;
  width: 16rem;
  background-image: url(../images/button.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.landing .content .shop-btn a {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  color: var(--green-color);
  text-decoration: none;
  font-weight: 600;
}

/* features */


.features {
  padding-top: var(--padding-top);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
}
.features .feat {
  border: 2px #bcbcbc solid;
  border-radius: 7px;
  padding: 27px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}




.features .feat p {
  margin-top: 10px;
  color: #378fb4;
  font-weight: 700;
  padding: 5px 0px;
  width: 134px;
}

.features .feat .p1 {
  background-color: pink;
}
.features .feat .p2 {
  background-color: #68f9285c;
}
.features .feat .p3 {
  background-color: #12a5eb4a;
}
.features .feat .p4 {
  background-color: #3d3da94a;
}
.features .feat .p5 {
  background-color: #edc5cc7d ;
}
.features .feat .p6 {
  background-color: #e6d2958a;
}

/* featured-products */ 

.featured-products {
  padding-top: var(--padding-top);
}
.featured-products .content .heading {
  margin: 2.5rem 0 1rem;
  text-align: center;
  & h1 {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  & p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: 500;
  }
}

.featured-products .content .products {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  & .card {
    width: 280px;
    background-color: #b6a9a917;
    border-radius: 13px;
    color: black;
    padding: 10px;
    border: 1px solid #c8c1c170;
    box-shadow: 0px 0px 10px -2px #7b6e6e5d;

    & .card-image {
      background-color: #f0f0f0;
      border-radius: 10px;
      padding: 2px;

      & img {
        width: 100%;
      }
    }

    & .card-body {
      padding: 5px 0px;

      &  p  {
        color: var(--green-color)
      }

      &  p:nth-child(2){
        color: black;
        font-weight: 600;
      }

      & .fa-star {
        color: #f1cc15;
      }

      & .price-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
          color: var(--green-color);
          font-weight: 700;
        }
        & i {
          background-color: #0e9b7330;
          color: var(--green-color);
          font-size: 13px;
          border-radius: 20px;
          padding: 7px;
          transition: 0.5s;
        }
        & i:hover {
          background-color: var(--green-color);
          color:#fff ;
          cursor: pointer;
        }
      }
    }
  }
  & .card:hover {
    box-shadow: 0px 0px 15px 1px #7271715d;
    cursor: pointer;
  }
}
/* explore section */
.explore {
  padding-top: var(--padding-top);
}
.explore .content{
  height: 45vh;
  background-image: url(../images/bgexplore.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
  letter-spacing: 2px;

  & p {
    font-size: 17px;
    font-weight: 500;
  }

  & h2 {
    font-size: 35px;
  }

  & span {
    color: red;
  }

  & a {
    text-decoration: none;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    padding: 12px 30px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
  }

  & a:hover {
    color: #fff;
    background-color: var(--green-color)
  }
}


/* new arrivals */


.new-arrivals {
  padding-top: var(--padding-top)
}
.new-arrivals .content .heading {
  margin: 2.5rem 0 1rem;
  text-align: center;
  & h1 {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  & p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: 500;
  }
}

.new-arrivals .content .products {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  & .card {
    width: 280px;
    background-color: #b6a9a917;
    border-radius: 13px;
    color: black;
    padding: 10px;
    border: 1px solid #c8c1c170;
    box-shadow: 0px 0px 10px -2px #7b6e6e5d;
    transition: 0.3s;

    & .card-image {
      background-color: #f0f0f0;
      border-radius: 10px;
      padding: 2px;
      height: 69%;

      & img {
        width: 100%;
      }
    }

    & .card-body {
      padding: 5px 0px;

      &  p  {
        color: var(--green-color)
      }

      &  p:nth-child(2){
        color: black;
        font-weight: 600;
      }

      & .fa-star {
        color: #f1cc15;
      }

      & .price-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
          color: var(--green-color);
          font-weight: 700;
        }
        & i {
          background-color: #0e9b7330;
          color: var(--green-color);
          font-size: 13px;
          border-radius: 20px;
          padding: 7px;
          transition: 0.5s;
        }
        & i:hover {
          background-color: var(--green-color);
          color:#fff ;
          cursor: pointer;
        }
      }
    }
  }

  & .card:hover {
    box-shadow: 0px 0px 15px 1px #7271715d;
    cursor: pointer;
  }
}

/* banner */
.banner {
  margin: 4% 7%
}

.banner .content {
  margin-left: auto;
  margin-right: auto;
  width: 85%;

  & .item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  & .item.one {
    background-image: url(../images/banner/b1.jpg) ;
    height: 22rem;
  }
  & .item.two {
    background-image: url(../images/banner/b2.jpg);
    height: 22rem;
  }
  & .item.three {
    background-image: url(../images/banner/b3.jpg) ;
    height: 16rem;
  }
  & .item.four {
    background-image: url(../images/banner/b4.jpg);
    height: 16rem;
  }
  & .item.five {
    background-image: url(../images/banner/b5.jpg);
    height: 16rem;
  }
}

.banner .content .row{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}



.banner .content .item.one, 
.banner .content .item.two{
  width: 38rem;
  position: relative;
}
.banner .content .item.one .text, 
.banner .content .item.two .text {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(0%, -50%);
  color: white;
  & p {
    padding-bottom: 20px;
  }
  & p:first-child {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.842)
  }

  & h3 {
    font-size: 1.9rem;
    padding-bottom: 10px;
  }

  & a {
    text-decoration: none;
    padding: 8px 15px;
    transition:all 0.5s;
    color: #fff;
    
    
  }
}

.banner .content .item.one .text a {
  background-color: var(--green-color);
  border: 2px solid var(--green-color);
}
.banner .content .item.one:hover .text a {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.banner .content .item.two .text a {
  border: 2px solid #fff;
}
.banner .content .item.two:hover .text a {
  background-color: var(--green-color);
  border: 2px solid var(--green-color);
}


/*second row images */
.banner .content .item.three, 
.banner .content .item.four,
.banner .content .item.five {
  width: 24rem;
  position: relative;
}
.banner .content .item.three .text, 
.banner .content .item.four .text,
.banner .content .item.five .text {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;

  & h3 {
    color: white;
    font-size: 1.4rem;
    font-weight: 900
  }

  & p {
    color: #F44336;
    font-weight: 500
  }
}
@media (max-width: 992px){
  .banner .content .row {
    flex-direction: column;
  }
  .banner .content .row .item{
    width: 100%;
    height: 22rem;
  }
  .banner .content .row .text h3 {
    font-size: 1.9rem !important;
  }
}
/* sign up section */

.sign-up-section {
  padding-top: var(--padding-top);;

  & .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem 7rem;
    background-color: #000054;
    background-image: url(../images/b14.png);

    & .text h3{
      color: white;
      padding-bottom: 10px;
      font-size: 1.7rem
    }

    & .text p {
      color: #ffffff6b;

      & span {
        color: #ffc300;
      }
    }
    & .sign-up {
      background-color: var(--green-color);
      border-radius: 4px ;
    }
    & .sign-up input{
      padding: 15px;
      border: none;
      outline: none;
      border-radius: 4px 0px 0px 4px;
    }

    & .sign-up a{
      padding: 15px;
      text-decoration: none;
      color: white;
      font-weight: 500
    }
  }
}


/* footer*/

footer {
  padding-top: var(--padding-top);
  margin-bottom: var(--padding-top);

    & .content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1rem;
      padding-left: 3%;
      padding-right: 3%;

      & .logo {
        width: 120px;
        & img {
          width: 100%;
        }
      }
      & .heading {
        font-weight: 600;
        padding: 10px 0;
        color: black;
        font-size: 17px; 
      }
      & a {
        display: block;
        text-decoration: none;
        color: #6b6767;
        font-size: 15px;
        padding: 3px 0;
      }
      & p {
        color: #6b6767;
        font-size: 15px;
      }

      & p span {
        font-weight: 700;
        font-size: 14px;
        color: rgb(0 0 0 / 60%);
    }


    & .social-media {
      padding-bottom: 10px;

      & i {
        color: rgba(0, 0, 0, 0.6);
        margin: 0 2px;
      }
    }

    & .app-parag {
      padding: 0 0 1rem ;
    }
    & .app-parag2 {
      padding: 1rem 0
    }

    & .store-google {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.3rem;
      
      & img {
        border: 2px solid var(--green-color);
        width: 150px;
        border-radius: 5px
      }
    }
  }

  & .creator {
    text-align: center;
    padding: 1rem 0;
    color: #564e4e;

    & .fa-heart {
      color: #e45a72
    }
  }
}
@media (max-width: 992px){
  footer .content{
        display: flex;
        justify-content: space-between;
  
}
}


























